.movies-card-list {
  width: 100%;
  padding: 70px 0 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-auto-rows: 230px;
  gap: 38px 20px;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .movies-card-list {
    grid-template-columns: repeat(auto-fit, 339px);
    grid-auto-rows: 269px;
    gap: 30px;
  }
}

@media screen and (max-width: 530px) {
  .movies-card-list {
    padding-top: 40px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 246px;
    gap: 34px;
  }
}